{% extends "base.html" %}
{% block content %}
<h1 class="h5 mb-3">Novo contrato</h1>
<form method="post" class="row g-3">
  <div class="col-md-3">
    <label class="form-label">Contrato</label>
    <input name="contrato" class="form-control">
  </div>
  <div class="col-md-3">
    <label class="form-label">Cliente</label>
    <input name="cliente" class="form-control">
  </div>
  <div class="col-md-2">
    <label class="form-label">CPF</label>
    <input name="cpf" class="form-control">
  </div>
  <div class="col-md-2">
    <label class="form-label">Tipo</label>
    <input name="tipo" class="form-control">
  </div>
  <div class="col-md-2">
    <label class="form-label">Garantia</label>
    <input name="garantia" class="form-control">
  </div>

  <div class="col-md-3">
    <label class="form-label">Valor do contrato</label>
    <input name="valor_total" class="form-control" placeholder="0,00">
  </div>
  <div class="col-md-3">
    <label class="form-label">Valor da parcela</label>
    <input name="valor_parcela" class="form-control" placeholder="0,00">
  </div>
  <div class="col-md-2">
    <label class="form-label">Parcelas</label>
    <input name="parcelas" type="number" class="form-control" min="0">
  </div>
  <div class="col-md-2">
    <label class="form-label">1º vencimento</label>
    <input name="vencimento_parcelas" type="date" class="form-control">
  </div>

  <div class="col-12">
    <button class="btn btn-success">Salvar</button>
    <a class="btn btn-outline-secondary" href="{{ url_for('index') }}">Cancelar</a>
  </div>
</form>
{% endblock %}
